In [90]:
import pandas as pd
import numpy as np

In [91]:
df = pd.read_csv('datasets/Kickstartercombo.csv')
df.head()
df['main_category'].unique()

array(['Publishing', 'Film & Video', 'Music', 'Food', 'Design', 'Crafts',
       'Games', 'Comics', 'Fashion', 'Theater', 'Art', 'Photography',
       'Technology', 'Dance', 'Journalism', 'Graphic Novels'],
      dtype=object)

In [92]:
#We wanted to take away any non USD entries so see organized the table by category, state and currency.
pd.pivot_table(df, values =['goal','pledged'], index = ['main_category','state','currency'])

                                       goal   pledged
main_category state      currency
Art           canceled   AUD       20022.00    502.61
                         CAD       73782.27    540.25
                         CHF       37566.67    724.00
                         DKK        7633.33    345.00
                         EUR       29846.21    387.08
                         GBP        7259.77    237.29
                         HKD       72100.00   7184.33
                         JPY      300000.00  13600.00
                         MXN      292618.82  10072.35
                         NOK      142500.00   2905.00
                         NZD        7584.62     16.08
                         SEK       21300.00   5315.29
                         SGD        2562.00    337.40
                         USD       44304.25    511.62
              failed     AUD      180224.43    403.06
                         CAD      200241.10    377.91
                         CHF      205239.58   1183.06
                         DKK       91220.00   1453.42
                         EUR      272185.83    499.88
                         GBP       10546.71    544.87
                         HKD      604454.76    177.43
                         JPY      700000.00 180000.00
                         MXN      133034.23   4503.90
                         NOK      473321.24   2467.43
                         NZD       16290.26    396.06
                         SEK       76046.60   1081.84
                         SGD       11455.56    198.11
                         USD       50453.49    649.89
              live       AUD         879.00    787.20
                         CAD       13141.43   7289.70
...                                     ...       ...
Theater       failed     NZD        8353.85    128.85
                         SEK      101716.67   1518.33
                         SGD       35000.00   1220.33
                         USD       52897.67   1040.83
              live       CAD       29166.67    500.00
                         DKK        3000.00    511.00
                         EUR       16346.88   1240.88
                         GBP        5076.79   1468.23
                         JPY      500000.00      0.00
                         MXN       43375.00   5188.00
                         SGD        9000.00   2255.00
                         USD       23195.14   2344.44
              successful AUD        7480.00   7939.06
                         CAD        3586.53   4082.00
                         CHF        3906.67   4060.33
                         DKK       29190.38  36293.52
                         EUR       12082.55  13103.50
                         GBP        2288.87   2568.62
                         MXN       54945.00  58453.18
                         NOK       31432.00  33315.29
                         NZD        6843.75   8190.31
                         SEK       23235.29  26329.29
                         SGD        4875.00   5674.75
                         USD        5516.30   6377.44
              suspended  AUD      101000.00     10.00
                         CAD       12700.00      0.50
                         DKK        2500.00      0.00
                         GBP        3028.00      3.20
                         USD       34531.45    105.27
              undefined  USD       25000.00   2621.00

[902 rows x 2 columns]

In [93]:
#here we quantified how many projects were being conducted in each currency
df['currency'].value_counts()

USD    556182
GBP     62165
EUR     28972
CAD     27176
AUD     14312
SEK      3090
NZD      2640
DKK      1970
MXN      1966
NOK      1262
CHF      1246
HKD       715
SGD       675
JPY        40
Name: currency, dtype: int64

In [94]:
#created a new table with only USD projects
df.head()
df = df[df.currency == 'USD']
df.head()
df['currency'].value_counts()
#df = df.set_index('currency')
#df = df.drop('GBP', axis = 0)
#df = df.drop('EUR', axis = 0)
#df = df.drop('CAD', axis = 0)
#df = df.drop('AUD', axis = 0)
#df = df.drop('SEK', axis = 0)
#df = df.drop('NZD', axis = 0)
#df = df.drop('DKK', axis = 0)
#df = df.drop('MXN', axis = 0)
#df = df.drop('NOK', axis = 0)
#df = df.drop('CHF', axis = 0)
#df = df.drop('HKD', axis = 0)
#df = df.drop('SGD', axis = 0)
#df = df.drop('JPY', axis = 0)
#df.head()
#df['currency'].value_counts()

USD    556182
Name: currency, dtype: int64

In [95]:
#dropped projects that where already launched
df = df.drop('launched', axis =1)

In [96]:
df.head()

,Unnamed: 0,ID,name,main_category,category,country,state,goal,pledged,currency,deadline,backers,usd pledged,usd_goal_real,usd_pledged_real
1,1,1000004038,Where is Hank?,Film & Video,Narrative Film,US,failed,45000.00,220.00,USD,2013-02-26 00:20:00,3,220.00,nan,nan
2,2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,US,failed,5000.00,1.00,USD,2012-04-16 04:24:00,1,1.00,nan,nan
3,3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,US,canceled,19500.00,1283.00,USD,2015-08-29 01:00:00,14,1283.00,nan,nan
4,4,1000014025,Monarch Espresso Bar,Food,Restaurants,US,successful,50000.00,52375.00,USD,2016-04-01 13:38:00,224,52375.00,nan,nan
5,5,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,US,successful,1000.00,1205.00,USD,2014-12-21 18:30:00,16,1205.00,nan,nan

In [97]:
#dropped this measure that was irrelevent to our model
df.drop('usd_goal_real', axis = 1)

,Unnamed: 0,ID,name,main_category,category,country,state,goal,pledged,currency,deadline,backers,usd pledged,usd_pledged_real
1,1,1000004038,Where is Hank?,Film & Video,Narrative Film,US,failed,45000.00,220.00,USD,2013-02-26 00:20:00,3,220.00,nan
2,2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,US,failed,5000.00,1.00,USD,2012-04-16 04:24:00,1,1.00,nan
3,3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,US,canceled,19500.00,1283.00,USD,2015-08-29 01:00:00,14,1283.00,nan
4,4,1000014025,Monarch Espresso Bar,Food,Restaurants,US,successful,50000.00,52375.00,USD,2016-04-01 13:38:00,224,52375.00,nan
5,5,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,US,successful,1000.00,1205.00,USD,2014-12-21 18:30:00,16,1205.00,nan
6,6,1000030581,Chaser Strips. Our Strips make Shots their B*tch!,Food,Drinks,US,failed,25000.00,453.00,USD,2016-03-17 19:05:00,40,453.00,nan
7,7,1000034518,SPIN - Premium Retractable In-Ear Headphones w...,Design,Product Design,US,canceled,125000.00,8233.00,USD,2014-05-29 18:14:00,58,8233.00,nan
8,8,100004195,STUDIO IN THE SKY - A Documentary Feature Film...,Film & Video,Documentary,US,canceled,65000.00,6240.57,USD,2014-08-10 21:55:00,43,6240.57,nan
10,10,100005484,Lisa Lim New CD!,Music,Indie Rock,US,successful,12500.00,12700.00,USD,2013-04-08 06:42:00,100,12700.00,nan
11,11,1000055792,The Cottage Market,Crafts,Crafts,US,failed,5000.00,0.00,USD,2014-10-02 17:11:00,0,0.00,nan
12,12,1000056157,G-Spot Place for Gamers to connect with eachot...,Games,Games,US,failed,200000.00,0.00,USD,2016-03-25 22:01:00,0,0.00,nan
13,13,1000064368,Survival Rings,Design,Design,US,failed,2500.00,664.00,USD,2015-02-28 02:10:00,11,664.00,nan
14,14,1000064918,The Beard,Comics,Comic Books,US,failed,1500.00,395.00,USD,2014-11-08 22:27:00,16,395.00,nan
15,15,1000068480,Notes From London: Above & Below,Publishing,Art Books,US,failed,3000.00,789.00,USD,2015-05-10 21:20:00,20,789.00,nan
16,16,1000070642,Mike Corey's Darkness & Light Album,Music,Music,US,successful,250.00,250.00,USD,2012-08-17 14:11:00,7,250.00,nan
17,17,1000071625,Boco Tea,Food,Food,US,failed,5000.00,1781.00,USD,2012-06-02 17:24:00,40,1781.00,nan
18,18,1000072011,CMUK. Shoes: Take on Life Feet First.,Fashion,Fashion,US,successful,20000.00,34268.00,USD,2013-12-30 07:06:00,624,34268.00,nan
19,19,1000082254,Alice in Wonderland in G Minor,Theater,Theater,US,failed,3500.00,650.00,USD,2014-06-15 10:09:00,12,650.00,nan
21,21,1000091520,The Book Zoo - A Mini-Comic,Comics,Comics,US,successful,175.00,701.66,USD,2014-11-12 17:15:00,66,701.66,nan
22,22,1000102741,Matt Cavenaugh & Jenny Powers make their 1st a...,Music,Music,US,successful,10000.00,15827.00,USD,2011-01-06 23:16:00,147,15827.00,nan
27,27,1000117861,Ledr workbook: one tough journal!,Design,Product Design,US,successful,1000.00,47266.00,USD,2016-10-08 02:00:00,549,11253.00,nan
29,29,1000120287,BB130A,Art,Public Art,US,failed,25000.00,1395.00,USD,2013-03-24 00:07:00,30,1395.00,nan
30,30,100012079,Chris Eger Band - New Nashville Record!,Music,Music,US,successful,12000.00,13260.00,USD,2014-08-13 08:59:00,92,13260.00,nan
31,31,1000129669,Squatch Watchers,Film & Video,Webseries,US,failed,10000.00,1373.37,USD,2013-08-23 21:40:00,54,1373.37,nan
32,32,1000131947,Arrows & Sound Debut Album,Music,Indie Rock,US,successful,4000.00,8641.34,USD,2012-05-19 01:04:00,157,8641.34,nan
33,33,1000132945,Zen in America: a film on Zen Buddhism in Nort...,Film & Video,Documentary,US,successful,10000.00,15663.00,USD,2013-10-21 23:00:00,213,15663.00,nan
34,34,1000134913,Galaxy: Winnie and Friends,Art,Illustration,US,failed,3000.00,17.00,USD,2016-01-27 21:47:00,2,17.00,nan
35,35,1000146991,Help Scott Reynolds Make a New Record!,Music,Indie Rock,US,successful,15000.00,17499.99,USD,2012-09-02 18:43:00,277,17499.99,nan
36,36,1000160286,"""THE RETURN"" book project",Photography,Photography,US,successful,15000.00,23907.00,USD,2013-12-13 00:34:00,232,23907.00,nan
37,37,1000171141,"The Please, Please Me: Studio Premiere",Music,Pop,US,successful,10000.00,12656.00,USD,2012-09-01 23:36:00,181,12656.00,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
702371,702371,999796570,M A V A R I,Fashion,Apparel,US,successful,30000.00,42647.00,USD,2015-01-01,215,42647.00,42647.00
702372,702372,999799441,The Hollywood Kills On Tour,Music,Rock,US,successful,10000.00,10300.00,USD,2012-05-04,78,10300.00,10300.00
702373,702373,999800713,BETTER DESPERATE,Film & Video,Music Videos,US,successful,300.00,300.00,USD,2016-05-07,5,300.00,300.00
702374,702374,999801167,Eternal Warfare Records Festival 2013 (Canceled),Music,Rock,US,canceled,5000.00,1721.00,USD,2013-03-29,36,1721.00,1721.00
702375,702375,999801508,Competition Finalist,Fashion,Fashion,US,successful,4000.00,4005.00,USD,2013-06-13,14,4005.00,4005.00
702376,702376,999810803,The Finger (Canceled),Film & Video,Documentary,US,canceled,28559.00,50.00,USD,2010-12-31,1,50.00,50.00
702379,702379,999814955,Collinwood Needs Coffee!!!,Food,Restaurants,US,failed,12000.00,2090.00,USD,2014-07-28,42,2090.00,2090.00
702381,702381,999832803,MONSTROCARDS- A Creative Drawing Game of Horri...,Games,Playing Cards,US,successful,10000.00,13861.50,USD,2014-10-03,413,13861.50,13861.50
702382,702382,99984851,"""Loreto""",Film & Video,Comedy,US,failed,12000.00,0.00,USD,2014-06-05,0,0.00,0.00
702383,702383,999865831,STATE OF G - Men's Blazer Jacket & Women's Car...,Fashion,Apparel,US,failed,25000.00,11643.00,USD,2014-12-13,97,11643.00,11643.00
702384,702384,999867839,Transcaucasia,Photography,Photography,US,failed,4000.00,3531.00,USD,2011-01-08,37,3531.00,3531.00
702385,702385,99987261,"You're Not Cis, You Just Think You Are: My Enb...",Publishing,Nonfiction,US,failed,800.00,70.00,USD,2015-09-24,5,70.00,70.00
702387,702387,999878813,Ways to Look at the Moon,Film & Video,Shorts,US,successful,10000.00,10245.00,USD,2017-10-13,123,145.00,10245.00
702388,702388,999880710,Terminal Uniqueness,Publishing,Nonfiction,US,failed,5000.00,18.00,USD,2014-08-15,5,18.00,18.00
702389,702389,999884445,Superette Tea - Boldly Caffeinated Loose Leaf Tea,Food,Drinks,US,successful,5000.00,5579.00,USD,2015-12-03,103,5579.00,5579.00
702390,702390,999893629,Ciridian Helix (Canceled),Publishing,Fiction,US,canceled,1000.00,100.00,USD,2014-09-11,2,100.00,100.00
702393,702393,999931480,Google Glass Shield (Canceled),Technology,3D Printing,US,canceled,6500.00,0.00,USD,2014-05-26,0,0.00,0.00
702394,702394,999934908,The Manual Bar Blade,Design,Product Design,US,successful,3500.00,6169.00,USD,2015-12-15,120,6169.00,6169.00
702396,702396,999943841,The Dog Coffee Book,Publishing,Children's Books,US,successful,950.00,1732.02,USD,2013-11-30,31,1732.02,1732.02
702397,702397,999950812,The Cease is Increase,Publishing,Nonfiction,US,failed,4999.00,980.00,USD,2012-09-14,16,980.00,980.00
702398,702398,999955533,Cards and Chit Network Season 2! (Canceled),Games,Tabletop Games,US,canceled,500.00,121.00,USD,2016-02-23,5,121.00,121.00
702399,702399,999963618,Colorado International Activism Film Festival,Film & Video,Narrative Film,US,failed,500.00,135.00,USD,2017-04-09,6,45.00,135.00
702400,702400,99996661,Date Seat - Boston iOS App,Technology,Apps,US,failed,6000.00,0.00,USD,2016-09-05,0,0.00,0.00
702403,702403,999972264,Islanda,Film & Video,Documentary,US,failed,1700.00,25.00,USD,2012-03-16,1,25.00,25.00
702404,702404,999975836,"Homemade fresh dog food, Cleveland OH",Food,Small Batch,US,failed,6500.00,154.00,USD,2017-04-19,4,0.00,154.00
702406,702406,999976400,ChknTruk Nationwide Charity Drive 2014 (Canceled),Film & Video,Documentary,US,canceled,50000.00,25.00,USD,2014-10-17,1,25.00,25.00
702407,702407,999977640,The Tribe,Film & Video,Narrative Film,US,failed,1500.00,155.00,USD,2011-07-19,5,155.00,155.00
702408,702408,999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Film & Video,Narrative Film,US,failed,15000.00,20.00,USD,2010-08-16,1,20.00,20.00
702409,702409,999987933,BioDefense Education Kit,Technology,Technology,US,failed,15000.00,200.00,USD,2016-02-13,6,200.00,200.00
702410,702410,999988282,Nou Renmen Ayiti! We Love Haiti!,Art,Performance Art,US,failed,2000.00,524.00,USD,2011-08-16,17,524.00,524.00

In [98]:
#dropped more columns we deemed extraneous
cdf = df.drop(['usd_pledged_real','usd pledged', 'deadline','usd_goal_real'], axis = 1)

In [99]:
cdf.head()

,Unnamed: 0,ID,name,main_category,category,country,state,goal,pledged,currency,backers
1,1,1000004038,Where is Hank?,Film & Video,Narrative Film,US,failed,45000.00,220.00,USD,3
2,2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,US,failed,5000.00,1.00,USD,1
3,3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,US,canceled,19500.00,1283.00,USD,14
4,4,1000014025,Monarch Espresso Bar,Food,Restaurants,US,successful,50000.00,52375.00,USD,224
5,5,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,US,successful,1000.00,1205.00,USD,16

In [100]:
#writer = pd.ExcelWriter('datasets/FinalPojectCleanData.xlsx', engine='xlsxwriter')
#cdf.to_excel(writer, sheet_name='Sheet1')
#writer.save()

In [101]:
#cdf.to_csv('CleanDataFinalProject.csv',index=True,header=True)

In [102]:
cdf.head()

,Unnamed: 0,ID,name,main_category,category,country,state,goal,pledged,currency,backers
1,1,1000004038,Where is Hank?,Film & Video,Narrative Film,US,failed,45000.00,220.00,USD,3
2,2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,US,failed,5000.00,1.00,USD,1
3,3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,US,canceled,19500.00,1283.00,USD,14
4,4,1000014025,Monarch Espresso Bar,Food,Restaurants,US,successful,50000.00,52375.00,USD,224
5,5,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,US,successful,1000.00,1205.00,USD,16

In [103]:
#pd.options.display.float_format = '{:.2f}'.format
#sfdf = pd.pivot_table(cdf, values =['goal'], index = ['main_category','state'])

#cdf.to_csv('datasets/SuccessFailFinalProject.csv',index=False,header=True)

In [104]:
#quantified each project by status
cdf['state'].value_counts()

failed        286129
successful    205359
canceled       52876
undefined       5140
live            4457
suspended       2221
Name: state, dtype: int64

In [105]:
#pd.pivot_table(cdf, index = ['main_category','state'])

In [106]:
#created boolean categories for each state so that we can better quantify it
cdf = pd.get_dummies(data=cdf, columns=['state'])
cdf.head()

,Unnamed: 0,ID,name,main_category,category,country,goal,pledged,currency,backers,state_canceled,state_failed,state_live,state_successful,state_suspended,state_undefined
1,1,1000004038,Where is Hank?,Film & Video,Narrative Film,US,45000.00,220.00,USD,3,0,1,0,0,0,0
2,2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,US,5000.00,1.00,USD,1,0,1,0,0,0,0
3,3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,US,19500.00,1283.00,USD,14,1,0,0,0,0,0
4,4,1000014025,Monarch Espresso Bar,Food,Restaurants,US,50000.00,52375.00,USD,224,0,0,0,1,0,0
5,5,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,US,1000.00,1205.00,USD,16,0,0,0,1,0,0

In [122]:
#here is the total number of projects failed by category
cdf.groupby(df['main_category'])['state_failed'].sum()

main_category
Art              20654.00
Comics            6234.00
Crafts            7920.00
Dance             1888.00
Design           20037.00
Fashion          19245.00
Film & Video     52228.00
Food             23719.00
Games            20059.00
Graphic Novels       1.00
Journalism        4323.00
Music            35319.00
Photography       9040.00
Publishing       35397.00
Technology       24351.00
Theater           5714.00
Name: state_failed, dtype: float64

In [118]:
#grouped successful projects by category
faldf = cdf.groupby(df['main_category'])['state_successful'].sum()

In [119]:
#saved both into a new table to quantify and visualize on tableau
writer = pd.ExcelWriter('datasets/successvfail.xlsx', engine='xlsxwriter')
sucdf.to_excel(writer, sheet_name='success')
writer.save()

In [121]:
writer = pd.ExcelWriter('datasets/successvfail.xlsx', engine='xlsxwriter')
faldf.to_excel(writer, sheet_name='fail')
writer.save()

In [123]:
cdf.head()

,Unnamed: 0,ID,name,main_category,category,country,goal,pledged,currency,backers,state_canceled,state_failed,state_live,state_successful,state_suspended,state_undefined
1,1,1000004038,Where is Hank?,Film & Video,Narrative Film,US,45000.00,220.00,USD,3,0,1,0,0,0,0
2,2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,US,5000.00,1.00,USD,1,0,1,0,0,0,0
3,3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,US,19500.00,1283.00,USD,14,1,0,0,0,0,0
4,4,1000014025,Monarch Espresso Bar,Food,Restaurants,US,50000.00,52375.00,USD,224,0,0,0,1,0,0
5,5,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,US,1000.00,1205.00,USD,16,0,0,0,1,0,0